<div layout="row" layout-align="center start">
    <h1>Panel de Control</h1>
</div>

<div layout layout-wrap>
    <md-card md-colors="{background: 'blue-900'}" flex="30" flex-xs="100" ng-repeat="asignatura in vm.asignaturas">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ asignatura.nombre }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Código: {{ asignatura.codigo }}</p>
        <p>Descripcion: {{ asignatura.descripcion }}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="start center">
        <md-button class="md-raised">Ver Asignatura</md-button>
      </md-card-actions>
    </md-card>
  
</div>